@page "/"
@inject ILocalizerService L
@inject CultureService CultureService
@implements IDisposable
@rendermode InteractiveServer

<PageTitle>@L["Pages.Home.PageTitle"]</PageTitle>

<h1>@L["Pages.Home.Greeting"]</h1>

@L["Pages.Home.Welcome"]

@code {
    protected override void OnInitialized()
    {
        CultureService.OnChange += OnCultureChanged;
    }

    private void OnCultureChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CultureService.OnChange -= OnCultureChanged;
    }
}
