apiVersion: apps/v1
kind: Deployment
metadata:
  name: orderservice
  namespace: kafka-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orderservice
  template:
    metadata:
      labels:
        app: orderservice
    spec:
      containers:
      - name: orderservice
        image: orderservice:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Production"
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: Kafka__BootstrapServers
          value: "kafka:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: orderservice
  namespace: kafka-demo
spec:
  selector:
    app: orderservice
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30005
  type: NodePort
