apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: kafka-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Kubernetes"
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: ApiUrls__CentralHub
          value: "http://centralhub:8080"
        - name: ApiUrls__PartnerService
          value: "http://partnerservice:8080"
        - name: ApiUrls__NotificationService
          value: "http://notificationservice:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: kafka-demo
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
