# Grafana Datasources Provisioning (SLO)
# Uses the existing Prometheus instance from /monitoring

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    uid: prometheus
    editable: false
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
